//! **************************************************************************
// Written by: Map P.28xd on Mon Jun 05 17:44:39 2017
//! **************************************************************************

SCHEMATIC START;
NET "flag_BUFGP/IBUFG" BEL "flag_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

