//! **************************************************************************
// Written by: Map P.28xd on Sun Jun 04 12:15:17 2017
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

