//! **************************************************************************
// Written by: Map P.20131013 on Sun Jan 04 16:42:44 2015
//! **************************************************************************

SCHEMATIC START;
COMP "rx" LOCATE = SITE "C4" LEVEL 1;
COMP "tx" LOCATE = SITE "D4" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "respBit" LOCATE = SITE "SLICE_X1Y130" LEVEL 1;
COMP "APUF/tigReg" LOCATE = SITE "SLICE_X2Y1" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<1>" LOCATE = SITE "SLICE_X2Y2" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<2>" LOCATE = SITE "SLICE_X2Y3" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<3>" LOCATE = SITE "SLICE_X2Y4" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<4>" LOCATE = SITE "SLICE_X2Y5" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<5>" LOCATE = SITE "SLICE_X2Y6" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<6>" LOCATE = SITE "SLICE_X2Y7" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<7>" LOCATE = SITE "SLICE_X2Y8" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<8>" LOCATE = SITE "SLICE_X2Y9" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<9>" LOCATE = SITE "SLICE_X2Y10" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<10>" LOCATE = SITE "SLICE_X2Y11" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<11>" LOCATE = SITE "SLICE_X2Y12" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<12>" LOCATE = SITE "SLICE_X2Y13" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<13>" LOCATE = SITE "SLICE_X2Y14" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<14>" LOCATE = SITE "SLICE_X2Y15" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<15>" LOCATE = SITE "SLICE_X2Y16" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<16>" LOCATE = SITE "SLICE_X2Y17" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<17>" LOCATE = SITE "SLICE_X2Y18" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<18>" LOCATE = SITE "SLICE_X2Y19" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<19>" LOCATE = SITE "SLICE_X2Y20" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<20>" LOCATE = SITE "SLICE_X2Y21" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<21>" LOCATE = SITE "SLICE_X2Y22" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<22>" LOCATE = SITE "SLICE_X2Y23" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<23>" LOCATE = SITE "SLICE_X2Y24" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<24>" LOCATE = SITE "SLICE_X2Y25" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<25>" LOCATE = SITE "SLICE_X2Y26" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<26>" LOCATE = SITE "SLICE_X2Y27" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<27>" LOCATE = SITE "SLICE_X2Y28" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<28>" LOCATE = SITE "SLICE_X2Y29" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<29>" LOCATE = SITE "SLICE_X2Y30" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<30>" LOCATE = SITE "SLICE_X2Y31" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<31>" LOCATE = SITE "SLICE_X2Y32" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<32>" LOCATE = SITE "SLICE_X2Y33" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<33>" LOCATE = SITE "SLICE_X2Y34" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<34>" LOCATE = SITE "SLICE_X2Y35" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<35>" LOCATE = SITE "SLICE_X2Y36" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<36>" LOCATE = SITE "SLICE_X2Y37" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<37>" LOCATE = SITE "SLICE_X2Y38" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<38>" LOCATE = SITE "SLICE_X2Y39" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<39>" LOCATE = SITE "SLICE_X2Y40" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<40>" LOCATE = SITE "SLICE_X2Y41" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<41>" LOCATE = SITE "SLICE_X2Y42" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<42>" LOCATE = SITE "SLICE_X2Y43" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<43>" LOCATE = SITE "SLICE_X2Y44" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<44>" LOCATE = SITE "SLICE_X2Y45" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<45>" LOCATE = SITE "SLICE_X2Y46" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<46>" LOCATE = SITE "SLICE_X2Y47" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<47>" LOCATE = SITE "SLICE_X2Y48" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<48>" LOCATE = SITE "SLICE_X2Y49" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<49>" LOCATE = SITE "SLICE_X2Y50" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<50>" LOCATE = SITE "SLICE_X2Y51" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<51>" LOCATE = SITE "SLICE_X2Y52" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<52>" LOCATE = SITE "SLICE_X2Y53" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<53>" LOCATE = SITE "SLICE_X2Y54" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<54>" LOCATE = SITE "SLICE_X2Y55" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<55>" LOCATE = SITE "SLICE_X2Y56" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<56>" LOCATE = SITE "SLICE_X2Y57" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<57>" LOCATE = SITE "SLICE_X2Y58" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<58>" LOCATE = SITE "SLICE_X2Y59" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<59>" LOCATE = SITE "SLICE_X2Y60" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<60>" LOCATE = SITE "SLICE_X2Y61" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<61>" LOCATE = SITE "SLICE_X2Y62" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<62>" LOCATE = SITE "SLICE_X2Y63" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<63>" LOCATE = SITE "SLICE_X2Y64" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<64>" LOCATE = SITE "SLICE_X2Y65" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<65>" LOCATE = SITE "SLICE_X2Y66" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<66>" LOCATE = SITE "SLICE_X2Y67" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<67>" LOCATE = SITE "SLICE_X2Y68" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<68>" LOCATE = SITE "SLICE_X2Y69" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<69>" LOCATE = SITE "SLICE_X2Y70" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<70>" LOCATE = SITE "SLICE_X2Y71" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<71>" LOCATE = SITE "SLICE_X2Y72" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<72>" LOCATE = SITE "SLICE_X2Y73" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<73>" LOCATE = SITE "SLICE_X2Y74" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<74>" LOCATE = SITE "SLICE_X2Y75" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<75>" LOCATE = SITE "SLICE_X2Y76" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<76>" LOCATE = SITE "SLICE_X2Y77" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<77>" LOCATE = SITE "SLICE_X2Y78" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<78>" LOCATE = SITE "SLICE_X2Y79" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<79>" LOCATE = SITE "SLICE_X2Y80" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<80>" LOCATE = SITE "SLICE_X2Y81" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<81>" LOCATE = SITE "SLICE_X2Y82" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<82>" LOCATE = SITE "SLICE_X2Y83" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<83>" LOCATE = SITE "SLICE_X2Y84" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<84>" LOCATE = SITE "SLICE_X2Y85" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<85>" LOCATE = SITE "SLICE_X2Y86" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<86>" LOCATE = SITE "SLICE_X2Y87" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<87>" LOCATE = SITE "SLICE_X2Y88" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<88>" LOCATE = SITE "SLICE_X2Y89" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<89>" LOCATE = SITE "SLICE_X2Y90" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<90>" LOCATE = SITE "SLICE_X2Y91" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<91>" LOCATE = SITE "SLICE_X2Y92" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<92>" LOCATE = SITE "SLICE_X2Y93" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<93>" LOCATE = SITE "SLICE_X2Y94" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<94>" LOCATE = SITE "SLICE_X2Y95" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<95>" LOCATE = SITE "SLICE_X2Y96" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<96>" LOCATE = SITE "SLICE_X2Y97" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<97>" LOCATE = SITE "SLICE_X2Y98" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<98>" LOCATE = SITE "SLICE_X2Y99" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<99>" LOCATE = SITE "SLICE_X2Y100" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<100>" LOCATE = SITE "SLICE_X2Y101" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<101>" LOCATE = SITE "SLICE_X2Y102" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<102>" LOCATE = SITE "SLICE_X2Y103" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<103>" LOCATE = SITE "SLICE_X2Y104" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<104>" LOCATE = SITE "SLICE_X2Y105" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<105>" LOCATE = SITE "SLICE_X2Y106" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<106>" LOCATE = SITE "SLICE_X2Y107" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<107>" LOCATE = SITE "SLICE_X2Y108" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<108>" LOCATE = SITE "SLICE_X2Y109" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<109>" LOCATE = SITE "SLICE_X2Y110" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<110>" LOCATE = SITE "SLICE_X2Y111" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<111>" LOCATE = SITE "SLICE_X2Y112" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<112>" LOCATE = SITE "SLICE_X2Y113" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<113>" LOCATE = SITE "SLICE_X2Y114" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<114>" LOCATE = SITE "SLICE_X2Y115" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<115>" LOCATE = SITE "SLICE_X2Y116" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<116>" LOCATE = SITE "SLICE_X2Y117" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<117>" LOCATE = SITE "SLICE_X2Y118" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<118>" LOCATE = SITE "SLICE_X2Y119" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<119>" LOCATE = SITE "SLICE_X2Y120" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<120>" LOCATE = SITE "SLICE_X2Y121" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<121>" LOCATE = SITE "SLICE_X2Y122" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<122>" LOCATE = SITE "SLICE_X2Y123" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<123>" LOCATE = SITE "SLICE_X2Y124" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<124>" LOCATE = SITE "SLICE_X2Y125" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<125>" LOCATE = SITE "SLICE_X2Y126" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<126>" LOCATE = SITE "SLICE_X2Y127" LEVEL 1;
COMP "APUF/SWITCH_CHAIN/netB<127>" LOCATE = SITE "SLICE_X2Y128" LEVEL 1;
COMP "APUF/pathB" LOCATE = SITE "SLICE_X2Y129" LEVEL 1;
COMP "APUF/tigSignal_inv" LOCATE = SITE "SLICE_X3Y1" LEVEL 1;
SCHEMATIC END;

